<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" th:href="@{css/principal.css}">
	<title>Sobre</title>
	

</head>

<body>	
	
<ul>
  <li><a class="active" th:href="@{/}">Home</a></li>
  <li><a th:href="@{/sobre}">Sobre</a></li>
  <li><a th:href="@{/curiosidades}">Tabela de curiosidades</a></li>
  <li><a th:href="@{/favoritos}"> Sites favoritos</a></li>
</ul>
    
    <h1>Priscila Fraifer</h1>
    
  
<div>

    <p>
        Atualmente graduanda do curso de Sistemas para Internet na <a href="https://fatecrl.edu.br/"
         target="_blank">Fatec Baixada Santista Rubens Lara</a> em Santos-SP, e Técnica em Redes de Computadores pela escola Senai Antonio Souza Nochese, localizada também em Santos-SP. 
    </p>

    <p>
        Priscila Fraifer está em transição de carreira, pois atua há mais de 7 anos com Gestão de Pessoas na empresa <a href="https://neobpo.com.br/" target="_blank">Neobpo</a>.
    </p>

    <p>Pode ser encontrada nas redes sociais <a href="https://www.facebook.com/priscila.fraifer/" target="_blank">Facebook</a>, <a href="https://www.instagram.com/priscilafraifer/" target="_blank">Instagram</a> e <a href="https://www.linkedin.com/in/priscila-fraifer-6689551a2" target="_blank">Linkedin</a></p>
	
</div>

</body>
</html>